<form autocomplete="off">
  <div class="attribute-bonuses">
    <label>{{localize 'ROSE.scores.str.long'}}</label>
    <ol>
      <li>
        {{localize 'ROSE.Melee'}} ({{mod data.scores.str.mod}})
      </li>
      <li>
        {{localize 'ROSE.exploration.od.long'}} ({{data.exploration.odMod}} in 6)
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'ROSE.scores.int.long'}}</label>
    <ol>
      <li>
        {{localize 'ROSE.SpokenLanguages'}} ({{localize data.languages.spoken}})
      </li>
      <li>
        {{localize 'ROSE.Literacy'}} ({{localize data.languages.literacy}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'ROSE.scores.wis.long'}}</label>
    <ol>
      <li>
        {{localize 'ROSE.saves.magic.long'}} ({{mod data.scores.wis.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'ROSE.scores.dex.long'}}</label>
    <ol>
      <li>
        {{localize 'ROSE.Missile'}} ({{mod data.scores.dex.mod}})
      </li>
      <li>
        {{localize 'ROSE.Initiative'}} ({{mod data.scores.dex.init}})
      </li>
      <li>
        {{localize 'ROSE.ArmorClass'}} ({{mod data.scores.dex.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'ROSE.scores.con.long'}}</label>
    <ol>
      <li>
        {{localize 'ROSE.Health'}} ({{mod data.scores.con.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'ROSE.scores.cha.long'}}</label>
    <ol>
      <li>
        {{localize 'ROSE.NPCReaction'}} ({{mod data.scores.cha.npc}})
      </li>
      <li>
        {{localize 'ROSE.RetainersMax'}} ({{add data.scores.cha.mod 4}})
      </li>
      <li>
        {{localize 'ROSE.Loyalty'}} ({{add data.scores.cha.mod 7}})
      </li>
    </ol>
  </div>
</form>