<div class="ose game-license">
  <p class="ose game-license">
    This unofficial system requires Old-School Essentials Core Rules that
    you can find <a href="https://necroticgnome.com">here</a>.
  </p>
  <p>
    Old School Essentials is a trademark of Necrotic Gnome, the trademark is
    used with permission under license.
  </p>
  <p>
      Brought to life on Foundry VTT by dricard, based on original work from U~man.
  </p>
  <div class="footer">
      Report your issues on <a href="https://github.com/dricard/foundryvtt-rose/issues">Github</a>
  </div>
</div>
